# ─── C++ ───────────────────────────────────────────
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

# ─── PlatformIO ────────────────────────────────────
firmware/.pio/
firmware/.vscode/
firmware/.pioenvs/
firmware/.piolibdeps/

# ─── Android ───────────────────────────────────────
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/*.iml
android-app/.idea/
*.keystore
*.jks

# ─── General ───────────────────────────────────────
.DS_Store
Thumbs.db
*.log